<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header"/>
<style>
    .jumbotron{
        padding: 5%;
    }
</style>
<body>
<div th:replace="fragments/navbar :: fragment-nav"></div>

<div class="jumbotron">
    <form class="row g-3" action="/management/addMember" method="post">
        <div class="mb-3">
            <label for="studentID" class="form-label">학번</label>
            <input type="text" class="form-control" id="studentID" name = "studentID" placeholder="StudentId">
        </div>
        <div class="mb-3">
            <label for="major" class="form-label">전공</label>
            <input type="text" class="form-control" id="major" name="major" placeholder="Major">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="grade" class="form-label">학년</label>
            <input type="text" class="form-control" id="grade" name="grade" placeholder="Grade">
        </div>

        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="PhoneNumber">
        </div>
        <div class="col-md-2">
            <label for="gender" class="form-label">성별</label>
            <select id="gender" class="form-select" name="gender">
                <option th:each="gender : ${genders}" th:text="${gender.getValue()}"></option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="studentState" class="form-label">재학여부</label>
            <select id="studentState" class="form-select" name="studentState">
                <option th:each="status : ${studentStatus}" th:text="${status.getValue()}"></option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="position" class="form-label">직책</label>
            <select id="position" class="form-select" name="position">
                <option th:each="position : ${positions}" th:text = "${position.getValue()}"></option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>
</body>
</html>