<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    tr:hover{
        background: gray;
        border-color: #dc3545;
    }
    .tableDiv{
        padding: 5%;
        min-height: 572px;
    }

</style>
<body>
<div th:replace="fragments/navbar :: fragment-nav"></div>
<div class="tableDiv">

    <!--검색-->
    <form class="row gx-3 gy-2 align-items-center" th:object="${memberSearch}" method="get">
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-text">직책</div>
                <select th:field="*{position}" class="form-select" name="position" id="specificSizeInputGroupUsername">
                    <option th:each="position : ${T(time.management.domain.Position).values()}"
                            th:value="${position}"
                            th:text="${position}"></option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-text">학년</div>
                <input type="text" class="form-control" th:field="${memberSearch.grade}" placeholder="grade">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-text">이름</div>
                <input type="text" class="form-control" th:field="${memberSearch.name}" placeholder="name">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-text">학번</div>
                <input type="text" class="form-control" th:field="${memberSearch.studentID}" placeholder="studentID">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-text">전공</div>
                <input type="text" class="form-control" th:field="${memberSearch.major}" placeholder="major">
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Grade</th>
            <th scope="col">Major</th>
            <th scope="col">Position</th>
            <th scope="col" th:text="'총 ' + ${totalMember} + '명'"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member,index : ${members}" th:onclick="|location.href='@{modify/{id} (id=*{member.id})}'|">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.id}"></td>
            <td th:text="${member.grade}"></td>
            <td th:text="${member.major.name}"></td>
            <td th:text="${member.position}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<!--페이지네이션-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage} == '1' ? 'disabled'">
            <a class="page-link" th:href="@{?grade={grade}&major={major}&position={position}&name={name}&id={id}&page={page}
             (grade = ${queryMember.grade}, major = ${queryMember.major}, position = ${queryMember.position}, name = ${queryMember.name}, id = ${queryMember.studentID}, page = ${currentPage} - 1)}">Previous</a>
        </li>

        <li class="page-item" th:each="page : ${#numbers.sequence(1,size)}" th:classappend="${page} == ${currentPage} ? 'active'">
            <a class="page-link"
               th:href="@{?grade={grade}&major={major}&position={position}&name={name}&id={id}&page={page}
                (grade = ${queryMember.grade}, major = ${queryMember.major}, position = ${queryMember.position}, name = ${queryMember.name}, id = ${queryMember.studentID}, page = ${pageStat.count})}"
               th:text="${pageStat.index + 1}"/>
        </li>

        <li class="page-item" th:classappend="${currentPage} == ${size} ? 'disabled'">
            <a class="page-link" th:href="@{?grade={grade}&major={major}&position={position}&name={name}&id={id}&page={page}
            (grade = ${queryMember.grade}, major = ${queryMember.major}, position = ${queryMember.position}, name = ${queryMember.name}, id = ${queryMember.studentID}, page = ${currentPage} + 1)}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>